


    * { margin: 0; padding: 0; }
    li { list-style: none; }
    img { border: 0; }
    a:link, a:visited, a:active{
      color: black;
      text-decoration: none;
    }
    body { min-width: 800px; }

  @font-face {
      font-family: 'nanum-font';
      src: local('NanumGothic'),
           url('NanumGothic.eot'),
           url('NanumGothic.ttf'),
           url('NanumGothic.woff');
  }

  strong, #lb_a, #lb_b {
      font-family: 'nanum-font';
  }

    #top_container{
      position: relative;
      text-align: center;
      line-height: 40px;
    }
    #header {
        width: 100%;
        height: 50px;
        background: rgb(247,81,81);
        font-family: 'Varela Round', sans-serif;
        color: white;
        border-bottom: 1px solid black;
    }
    #top_container > h1, #top_container > label{
      display: inline;
      position: absolute;
    }
    #top_container > h1{
      top: 3px;
      color: white;
    }
    #top_container > label.left {
        width: 32px;
        height: 32px;
        left: 5px;
        top: 7px;
    }
    /* 메뉴 이미지 */
    #top_container > label.left {
        background: url('header_button.png');
        background-position: 0px 0px;
        text-indent: -99px;
        vertical-align: middle;
    }

    #toggle { display: none; }
    #toggle + #wrap > #toggle_item_wrap { display: none; }
    #toggle:checked + #wrap > #toggle_item_wrap { display: block; }

    /* 레이아웃 색상 */
    #toggle_item_wrap {
        background: #363636;
        border: 2px solid black;
        border-radius: 5px;
    }
    #toggle_item {
        background: #FFFFFF;
        padding: 5px;
    }

    /* 토글 목록 */
    #toggle_item > ul { overflow: hidden; }
    #toggle_item > ul > li {
        width: 80px;
        float: left;
    }
    #toggle_item > ul > li > a{
      font-family: 'Varela Round', sans-serif;
      text-decoration: none;
    }
    #toggle_item > ul > li > a:link, #toggle_item > ul > li > a:visited, #toggle_item > ul > li > a:active {
      text-decoration: none;
    }

    #toggle_item > ul > li > a:hover {
      background: black;
      color: white;
    }
